{% extends "base.html" %}
{% block title %}Teacher | Sign Up{% endblock %}
{% block headCSS %}
    <link rel="stylesheet" href="/assets/education-portal/auth.css">
{% endblock %}
{% block body %}
    <!-- .auth -->
    <main class="auth">
            <header id="auth-header" class="auth-header" style="background-image: url(assets/images/illustration/img-1.png);">
              <h1>
                <img src="/assets/education-portal/education-portal-logo-white.png" alt="" height="80"> <span class="sr-only">Sign Up</span>
              </h1>
              <p> Already have an account? please <a href="/account/login">Sign In</a>
              </p>
            </header>
            <!-- form -->
            <form class="auth-form" method="POST">
              
                {# any error or success notification #}
                {% for type, message in messages %}
                  {% for message in message %}
                    <div class="alert alert-{{type}}">
                        {{ message }}
                    </div>
                  {% endfor %}
                {% endfor %}
                
                    <h4>Sign Up As Teacher</h5>
                        <small>Note : * are required fields.</small>
            <div class="form-group">
                <div class="form-label-group">
                  <input type="text" id="inputTeacherFName" name="fname" class="form-control" placeholder="First Name" required="" autofocus=""> <label for="inputTeacherFName">First Name*</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-label-group">
                    <input type="text" id="inputTeacherLName" name="lname" class="form-control" placeholder="Last Name" required="" autofocus=""> <label for="inputTeacherLName">Last Name*</label>
                  </div>
                </div>
              <!-- .form-group -->
              <div class="form-group">
                <div class="form-label-group">
                  <input type="email" id="inputTeacherEmail" name="email" class="form-control" placeholder="Email" required="" autofocus=""> <label for="inputTeacherEmail">Email*</label>
                </div>
              </div><!-- /.form-group -->
              <!-- .form-group -->
              <div class="form-group">
                <div class="form-label-group">
                  <input type="password" id="inputTeacherPassword" name="password" class="form-control" placeholder="Password" required=""> <label for="inputTeacherPassword">Password*</label>
                </div>
              </div><!-- /.form-group -->
              <div class="form-group">
                <div class="form-label-group">
                  <input type="password" id="inputTeacherDesignation" name="designation" class="form-control" placeholder="Password"> <label for="inputTeacherDesignation">Designation</label>
                </div>
              </div>
              <!-- .form-group -->
              <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" name="signupTeacher" type="submit">Sign Up</button>
              </div><!-- /.form-group -->
              <!-- recovery links -->
              <p class="text-center text-muted mb-0"> By creating an account you agree to the <a href="#!">Terms of Use</a> and <a href="#!">Privacy Policy</a>. </p><!-- /recovery links -->
            </form><!-- /.auth-form -->
            <!-- copyright -->
            <footer class="auth-footer"> © 2018 All Rights Reserved. </footer>
          </main><!-- /.auth -->
{% endblock %}

{% block headJS %}
    <script src="/assets/particles.js/particles.min.js" type="text/javascript"></script>
    <script type="71fd9b8b7936c7a0d33fb89a-text/javascript">
            /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
            particlesJS.load('auth-header', '/assets/particles.js/particles.json');
    </script>
    <!-- BEGIN THEME JS -->
    <script src="/assets/javascript/theme.min.js"></script> <!-- END THEME JS -->
{% endblock %}